<html>

<head>
  <link rel="icon" type="img/png" href="C:\Users\mithi\Downloads\Portfolio Mithil\Portfolio\Images\letter-m.png" />
  <title>Mithil Jain</title>
  <link rel="stylesheet" href="style.css">
  <!--GOOGLE FONTS START-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@600&family=Julius+Sans+One&family=Pridi&family=Satisfy&display=swap"
    rel="stylesheet">
  <!--GOOGLE FONTS END-->

</head>

<body>
  <div class="nav">
    <div class="logo">
      <a href="#mithiljainn">
        <h2><span style="color:#DAA520"><b>MITHIL</b></span> <b>JAIN</b></h2>
      </a>
    </div>
    <div class="nav_content">
      <a href="#aboutt"> About</a>
      <a href="#educationn">Education</a>
      <a href="#skillss">Skills</a>
      <a href="resume.html" target="_blank">Resume</a>
      <a href="#certificationss">Certifications</a>
      <a href="#contactt">Contact</a>
    </div>
  </div>

  <div class="main_heading">
    <div id="mithiljainn">
      <h1> Hello World</h1>
    </div>
    <div class="main_image">
      <img src="C:\Users\mithi\Downloads\Portfolio Mithil\Portfolio\Images\hello_world-removebg-preview.png">
    </div>
  </div>

  <div class="section">
    <div id="aboutt">
      <div class="about">
        <h1>About</h1>

        <img src="C:\Users\mithi\Downloads\Portfolio Mithil\Portfolio\Images\my_photo.png">

        <p><span style="font-size: 100%; color: #DAA520;">H</span><span>ey I'm Mithil Jain currently in final year
            pursing my bachelor's
            degree in Computer Science Engineering from Gandhi Institute of Technology & Management.
            Since this is my final year of Engineering, I'm
            looking forward to start my professional journey in
            an organisation to take up an role that aligns with my skills and
            interests. It is my goal to contribute my skills and
            knowledge to the growth of the organization and create
            an impact.

            Furthermore, I'm punctual, self motivated, hard working,
            cooperative person with leadership and teamwork qualities.
            I make constant effort to learn from my mistakes,
            expand my knowledge, and discover as much as I can.<span>
        </p>
      </div>
    </div>

    <div id="educationn">
      <div class="education">
        <h1>Education</h1>
        <div class="history-tl-container">
          <ul class="tl">
            <li class="tl-item" ng-repeat="item in retailer_history">
              <div class="timestamp">
                2016 - 2017
              </div>
              <div class="item-title">Timapany Senior Secondary School</div>
              <div class="item-detail">Class X (CBSE)</div>
            </li>
            <li class="tl-item" ng-repeat="item in retailer_history">
              <div class="timestamp">
                2017 - 2019
              </div>
              <div class="item-title">Ascent Classes</div>
              <div class="item-detail">Class XI - XII (PCM)</div>
            </li>
            <li class="tl-item" ng-repeat="item in retailer_history">
              <div class="timestamp">
                2019 - 2023
              </div>
              <div class="item-title">Gandhi Institute of Technology & Management</div>
              <div class="item-detail">Computer Science Engineering (B-Tech)</div>
            </li>

          </ul>

        </div>
      </div>
    </div>

    <div id="skillss">
      <div class="skills">
        <h1>Skills</h1>
        <ul>
          <li><span>Python Programming</span></li>
          <li><span>HTML</span></li>
          <li><span> CSS </span></li>
          <li><span> Bootstrap </span></li>
          <li><span> Desgin Thinking</span> </li>
          <li><span> Problem Solving </span></li>
          <li><span> Management Skills </span></li>
          <li><span> Active Listner </span></li>
          <li><span> Creative </span></li>
          <li><span> Teamwork </span></li>
        </ul>
      </div>
    </div>



    <div id="certificationss">
      <div class="certifications">
        <h1>Certifications</h1>
        <marquee behavior="scroll" direction="right" scrollamount="8">
          <img src="C:\Users\mithi\Downloads\Portfolio Mithil\Portfolio\Images\15.jpg">
          <img src="C:\Users\mithi\Downloads\Portfolio Mithil\Portfolio\Images\14.jpg">
          <img src="C:\Users\mithi\Downloads\Portfolio Mithil\Portfolio\Images\13.png">
          <img src="C:\Users\mithi\Downloads\Portfolio Mithil\Portfolio\Images\12.jpg">
          <img src="C:\Users\mithi\Downloads\Portfolio Mithil\Portfolio\Images\11.jpg">
          <img src="C:\Users\mithi\Downloads\Portfolio Mithil\Portfolio\Images\10.jpg">
          <img src="C:\Users\mithi\Downloads\Portfolio Mithil\Portfolio\Images\9.jpg">
          <img src="C:\Users\mithi\Downloads\Portfolio Mithil\Portfolio\Images\8.jpg">
          <img src="C:\Users\mithi\Downloads\Portfolio Mithil\Portfolio\Images\7.jpg">
          <img src="C:\Users\mithi\Downloads\Portfolio Mithil\Portfolio\Images\6.jpg">
          <img src="C:\Users\mithi\Downloads\Portfolio Mithil\Portfolio\Images\4.jpg">
          <img src="C:\Users\mithi\Downloads\Portfolio Mithil\Portfolio\Images\3.png">
          <img src="C:\Users\mithi\Downloads\Portfolio Mithil\Portfolio\Images\2.png">
          <img src="C:\Users\mithi\Downloads\Portfolio Mithil\Portfolio\Images\1.jpg">
        </marquee>
      </div>
    </div>


    <div id="contactt">
      <div class="contact">
        <h1>Contact</h1>
        <div class="feed">
          <div class="feed-form">
            <form name="submit-googlesheet" method="post">
              <input type="text" name="Name" placeholder="Name"> <br>
              <input type="email" name="Email" placeholder="Email Address"> <br>
              <input type="tel" name="Phone" placeholder="Phone Number" pattern="[0-9]{10}"> <br>
              <input type="text" name="Review" placeholder="Write your feedback"><br>
              <button type="submit"> S U B M I T </button>
            </form>

          </div>

        </div>
        <div class="social_media_icon">
          <a href="https://www.linkedin.com/in/mithil-jain-83b30a189/" target="_blank">
            <ion-icon name="logo-linkedin"></ion-icon>
          </a>

          <a href="https://github.com/mrjain18" target="_blank">
            <ion-icon name="logo-github"></ion-icon>
          </a>

          <a href="mailto: mithiljain94@gmail.com" target="_blank">
            <ion-icon name="mail-unread-outline"></ion-icon>
          </a>
          <a href="https://www.instagram.com/mr.jain18/" target="_blank">
            <ion-icon name="logo-instagram"></ion-icon>
          </a>

          <a href="https://www.facebook.com/mithiljain05/" target="_blank">
            <ion-icon name="logo-facebook"></ion-icon>
          </a>

          <a href="https://twitter.com/mr_jain18">
            <ion-icon name="logo-twitter"></ion-icon>
          </a>


          <a href="https://wa.me/916301679895" target="_blank">
            <ion-icon name="logo-whatsapp"></ion-icon>
          </a>

        </div>
      </div>
    </div>
  </div>
  </div>

  <div class="footer">
    <h6> © 2022 Mithil Jain All Rights Reserved </h6>
  </div>

  <script type="text/javascript">
    const scriptURL =
      'https://script.google.com/macros/s/AKfycbx3vusSK1hSorXmDVr6lyJ4goFYQv2sFJPUWUkwEPRGlX8hUPAsRIb_87zbxCp9mfNW/exec'
    const form = document.forms['submit-googlesheet']

    form.addEventListener('submit', e => {
      e.preventDefault()
      fetch(scriptURL, {
        method: 'POST',
        body: new FormData(form)
      })
        .then(response => alert(
          "Thanks for you valuable feedback!!!"))
        .catch(error => console.error('Error!', error.message))
    })

  </script>

  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>
