* {
    margin: 0;
    padding: 0;
}

html,
body {
    overflow-x: hidden;
    padding-left: 5%;
    padding-right: 5%;
    background-image: url("C:/Users/mithi/Downloads/Portfolio Mithil/Portfolio/Images/white-paper-texture.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}



@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}



.nav {
    background-color: white;
    padding: 1%;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    position: fixed;
    right: 0;
    left: 0;
    align-items: center;
    z-index: 9;
}


.nav_content {
    float: right;
    padding-left: 15%;
    font-weight: bold;

}

/* NAV BAR MEDIA QUERY START */
@media all and (min-width:250px) {
    .nav_content a {
        float: left;
        display: block;
        text-align: center;
        padding-left: 12px;
        padding-right: 12px;
        color: black;
        text-decoration: none;
        font-size: 130%;
        font-family: 'Satisfy', cursive;

    }

}

@media all and (min-width:1200px) {
    .nav_content a {
        float: left;
        display: block;
        text-align: center;
        padding-left: 35px;
        padding-right: 35px;
        color: black;
        text-decoration: none;
        font-size: 130%;
        font-family: 'Satisfy', cursive;

    }

}

/* NAV BAR MEDIA QUERY END */


.nav_content a:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
    color: #DAA520;
    transition: 1s;
}


.logo {
    color: black;
    font-size: 130%;
    font-family: 'Julius Sans One', sans-serif;
}

.logo a {
    text-decoration: none;
    color: black;
}

.main_heading h1 {
    text-align: center;
    padding-top: 7%;
    font-size: 900%;
    font-family: 'Cormorant SC', serif;
}

.main_image img {
    height: auto;
    width: 100%;
    position: relative;
    margin-top: -1%;

}

.about h1 {
    font-family: 'Satisfy', cursive;
    text-align: center;
    padding-top: 5%;
    font-size: 350%;
    padding-bottom: 5%;
}

.about h1:hover {
    color: #DAA520;
    transition: 1s;
}

/* ABOUT IMAGE MEDIA QUERY START */
@media all and (min-width:250px) {
    .about img {
        display: flex;
        float: left;
        height: 20%;
        width: auto;
        padding-right: 40px;
    }
}

@media all and (min-width:1000px) {
    .about img {
        display: flex;
        float: left;
        height: 55%;
        width: auto;
        padding-right: 40px;
    }
}

/* ABOUT IMAGE MEDIA QUERY END */

.about p {
    font-size: 145%;
    line-height: 1.8;
    text-align: justify;
    font-family: 'Pridi', serif;
}

.about span {
    background-color: white;
}

.education h1 {
    font-family: 'Satisfy', cursive;
    text-align: center;
    padding-top: 5%;
    font-size: 350%;
    padding-bottom: 5%;
}

.education h1:hover {
    color: #DAA520;
    transition: 1s;
}

.history-tl-container {
    font-family: "Roboto", sans-serif;
    width: 58%;
    margin: auto;
    display: block;
    position: relative;
}

.history-tl-container ul.tl {
    margin: 20px 0;
    padding: 0;
    display: inline-block;

}

.history-tl-container ul.tl li {
    list-style: none;
    margin: auto;
    margin-left: 200px;
    min-height: 50px;
    border-left: 1px dashed #86D6FF;
    padding: 0 0 50px 30px;
    position: relative;
}

.history-tl-container ul.tl li:last-child {
    border-left: 0;
}

.history-tl-container ul.tl li::before {
    position: absolute;
    left: -18px;
    top: -5px;
    content: " ";
    border: 8px solid rgba(255, 255, 255, 0.74);
    border-radius: 500%;
    background: #DAA520;
    height: 20px;
    width: 20px;
    transition: all 500ms ease-in-out;

}

.history-tl-container ul.tl li:hover::before {
    border-color: #DAA520;
    transition: all 1000ms ease-in-out;
}

ul.tl li .item-title {
    font-size: 140%;
    font-family: 'Pridi', serif;
}

ul.tl li .item-detail {
    color: rgba(0, 0, 0, 0.5);
    font-size: 100%;
}

ul.tl li .timestamp {
    color: #8D8D8D;
    position: absolute;
    width: 100px;
    left: -50%;
    text-align: right;
    font-size: 100%;
}

.skills h1 {
    font-family: 'Satisfy', cursive;
    text-align: center;
    padding-top: 5%;
    font-size: 350%;
    padding-bottom: 1%;
}

.skills h1:hover {
    color: #DAA520;
    transition: 1s;
}

.skills {
    text-align: center;
}

.skills ul {
    list-style-image: url();
    display: inline-block;
    padding: left;
}


.skills ul li {
    text-align: justify;
    font-family: 'Pridi', serif;
    font-size: 175%;
    color: #DAA520;
}

.skills ul li span {
    color: black;
}

.certifications h1 {
    font-family: 'Satisfy', cursive;
    text-align: center;
    padding-top: 5%;
    font-size: 350%;
    padding-bottom: 5%;
}

.certifications h1:hover {
    color: #DAA520;
    transition: 1s;
}

/* CERTIFICATIONS MEDIA QUERY START */
@media all and (min-width:200px) {
    .certifications marquee img {
        height: 10%;
        width: auto;
    }
}

@media all and (min-width:500px) {
    .certifications marquee img {
        height: 25%;
        width: auto;
    }
}

@media all and (min-width:1000px) {
    .certifications marquee img {
        height: 35%;
        width: auto;
    }
}

@media all and (min-width:1500px) {
    .certifications marquee img {
        height: 60%;
        width: auto;
    }
}

/* CERTIFICATIONS MEDIA QUERY END */



.contact h1 {
    font-family: 'Satisfy', cursive;
    text-align: center;
    padding-top: 5%;
    font-size: 350%;
    padding-bottom: 1%;
}

.contact h1:hover {
    color: #DAA520;
    transition: 1s;
}

.feed .feed-form {
    text-align: center;
}

.feed .feed-form form {
    padding: 5%;
    padding-top: 1%;
}

.feed .feed-form form input {
    width: 30%;
    margin: 1%;
    padding: 1%;
    border: 3px solid black;
}

.feed .feed-form form input:hover {
    background: rgba(55, 49, 49, 0.189);
}

.feed .feed-form form button {
    width: 30%;
    margin: 1%;
    padding: 1%;
    background-color: black;
    color: white;
    border-radius: 10px;
    font-family: 'Pridi', serif;
    font-size: 130%;
}

.feed .feed-form form button:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
    background-color: #DAA520;
    color: black;
    transition: 1s;
}



/* CONTACT ICON MEDIA QUERY START */
@media all and (min-width:200px) {
    .contact ion-icon {
        font-size: 300%;
        padding-left: 5%;
        padding-right: 5%;
    }

    .contact ion-icon:hover {
        animation: shake 0.5s;
        animation-iteration-count: infinite;
        color: #DAA520;
        transition: 1s;
    }
}

@media all and (min-width:600px) {
    .contact ion-icon {
        font-size: 300%;
        padding-left: 3%;
        padding-right: 3%;
    }

    .contact ion-icon:hover {
        animation: shake 0.5s;
        animation-iteration-count: infinite;
        color: #DAA520;
        transition: 1s;
    }
}

@media all and (min-width:1500px) {
    .contact ion-icon {
        font-size: 300%;
        padding-left: 5%;
        padding-right: 5%;
    }
}

/* CONTACT ICON MEDIA QUERY END */


.contact ion-icon:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
    color: #DAA520;
    transition: 1s;
}



.social_media_icon a {
    text-decoration: none;
    color: black;
}

.social_media_icon a:hover {
    color: #DAA520;
}


.footer h6 {
    text-align: center;
    font-family: 'Arial', serif;
    font-size: 80%;
    color: black;
    font-weight: bold;
    padding-top: 2%;
}